.header {
  width: 100%;
  min-height: 177px;
  background-color: black;
  color: white;
  /* position: relative; */
}
.header_top {
  margin: 0px auto;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.header_auth_links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 13px;
}
.header_auth_links div {
  margin: 5px;
}
.header_auth_links span {
  margin: 5px;
  color: #ababab;
}
.header_question_text {
  color: #ababab;
}
.header_a_tag {
  color: white;
  text-decoration: none;
}
.header_a_tag:hover {
  text-decoration: underline;
}
.header_question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 20px;
  font-size: 13px;
}
.header_question_group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.header_question_group span {
  margin: 0px 3px;
}
.header_logo_img {
  max-height: 5.5rem;
}
.header_middle {
  margin: 0px auto;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-top: 1px solid #ababab;
  padding: 10px;
  z-index: 1000;
}
.header_bottom {
  margin: 0px auto;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #f2b83f;
  min-height: 50px;
  margin: 10px auto;
}
.navbar_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 10px;
}
.navbar_link_icon {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar_link_icon div {
  cursor: pointer;
}
.navbar_link_icon div:hover {
  color: blue;
}
.header_a_tag_link {
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
}
.header_a_tag_link:after {
  content: "";
  position: absolute;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.header_a_tag_link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom right;
}
.header_a_tag_link:hover{
    color: white !important;
}
