* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  direction: rtl;
  /* font-family: "my-font" !important; */
}
/* @font-face {
  font-family: my-font;
  src: url("../fonts/IRANSans\(FaNum\)_Light.ttf") format("ttf");
  src: url("../fonts/IRANSansWeb\(FaNum\)_Light.woff") format("woff");
} */
