* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  direction: rtl;
  font-family: "my-font" !important;
}
@font-face {
  font-family: my-font;
  src: url("./assets/fonts/Vazir-Light.ttf") format("ttf");
  src: url("./assets/fonts/Vazir-Light.woff") format("woff");
}
